<p>
<form method="post" action="showvideo" accept-charset="UTF-8">
<label>Enter password to access the video:</label>
<br>
<input type="password" name="password"> <br/> <br/>
<input type="hidden" name="entry_id" value="<%= entry_id %>" >
<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
<input type="submit" value="Access Video" name="commit">
</form>
</p>
