<p>
<form method="post" action="showvideo" accept-charset="UTF-8">

<%
  if entry_id.blank?
%>
<label>Enter the entry_id of the video:</label><br/>
<input type="text" name="entry_id"><br/><br/>
<%
  else
%>
<input type="hidden" name="entry_id" value="<%= entry_id %>" >
<%
  end
%>

<label>Enter the password you were provided to access the protected video:</label>
<br>
<input type="password" name="password"> <br/> <br/>

<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

<input type="submit" value="Access Video" name="commit">
</form>
</p>
