<h1>
  Success:  The password has been set for the video!
</h1>
<p>
  You can now access the password protected video at: <a href="http://<%= "#{@host_and_port}" %>/videopasswords/showvideo?entry_id=<%= "#{@video.entry_id}" %>">
  http://<%= "#{@host_and_port}" %>/videopasswords/showvideo?entry_id=<%= "#{@video.entry_id}" %>
  </a>
</p>
